.all-recipes{
    height: 100%;
    display: flex;
}

.side-bar{
    border-right: 1px solid rgb(123, 121, 121);
    background-color: rgb(123, 121, 121);
    color: white;
    padding-right: 12vmax;
}

.side-bar h3{
    color: rgb(246, 241, 241);
    padding-left: 1vmax;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
}

.select-cuisine{
    font-size: 0.9vmax;
    border-bottom: 2px solid white;
    margin-bottom: 0.8vmax;
    margin-left: 1vmax;
}

.select-type{
    font-size: 0.9vmax;
    border-bottom: 2px solid white;
    margin-bottom: 0.8vmax;
    margin-left: 1vmax;
}

.recipes{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.recipes-right{
    margin: 0 auto 0 auto;
}

.recipe-heading {
    margin-bottom: 0px;
    text-align: center;
    margin-top: 1vmax;
}

.recipe-heading span {
    color: #a41b1b;
}

.category-link {
    font-size: 0.62vmax;
    list-style: none;
    color: rgb(243, 238, 238);
    margin: 0.6vmax;
    cursor: pointer;
    transition: all 0.5s;
    padding-left: 1vmax;
}

.no-recipes{
    color: rgb(142, 138, 138);
    margin-left: 4vmax;
}

.category-link:hover {
    color: rgb(150, 38, 38);
}

.paginationBox {
    display: grid;
    justify-content: center;
    margin: 2vmax;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 0.6vmax 1.2vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .page-item:first-child {
    border-radius: 4px 0 0 4px;
  }
  
  .page-item:last-child {
    border-radius: 0 4px 4px 0;
  }
  .page-link {
    text-decoration: none;
    font: 400 0.7vmax "Poppins";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
  }
  
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .page-item:hover .page-link {
    color: rgb(0, 0, 0);
  }
  
  .pageItemActive {
    background-color: #a41b1b;
  }
  
  .pageLinkActive {
    color: white;
  }

  .active{
    color: rgb(150, 38, 38);
  }